@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    padding-top: 70px;
    background-image: url('../images/mad_men.jpg')
}
/* Customize container */
@media (min-width: 600px) {
    .container {
        max-width: 768px;
    }
}
/* Customize container */
@media (min-width: 800px) {
    .container-fluid {
        max-width: 1024px;
    }
}

table {
  background-color: black;
  color: white;
}

.navbar {
  background-color: black;
}

#header {
  padding-right: 200px;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.breadcrumb {
  background-color: black;
  color: white;
}

#title2 {
  color: white;
}

.view-card {
  background-color: gray;
  border: darkgray;
}
